include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include emadi_v3 *.css
recursive-include emadi_v3 *.csv
recursive-include emadi_v3 *.html
recursive-include emadi_v3 *.ico
recursive-include emadi_v3 *.js
recursive-include emadi_v3 *.json
recursive-include emadi_v3 *.md
recursive-include emadi_v3 *.png
recursive-include emadi_v3 *.py
recursive-include emadi_v3 *.svg
recursive-include emadi_v3 *.txt
recursive-exclude emadi_v3 *.pyc